.wrap{
    border: 1px solid darkgray;
    width: 340px;
    padding: 5px;
    overflow: auto;
    -webkit-box-shadow: 2px;
    -moz-box-shadow: 2px;
    box-shadow:0 0 5px #b8b7ff;
}

.box{
    border: 1px solid darkgray;
    background-color: #ffc927;
    width: 100px;
    height: 100px;
    margin: 5px;
    float: left;
    border-radius: 5px;
    /*display:none;*/
}

.box:hover{
    background-color: dodgerblue;
}